# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~

# link to data directory:
newforms

# test progams:
hecketest
homtest
looptest
modtest
nftest
symbtest
makenf
makenf_loop
makenf_modp
pmanin
roundtest
tquads
tratquad
dimtable
dimtabeis
dimtabnew
dimtabnew_loop
dimtabtwist
moreap
moreap1
moreap_loop
modularity
modularity_modp
dimtable_modp
hecketest_modp
nflist
nflist_loop
fieldinfo
qidltest
qidl_labels
qidl_loop
P1Ntest
rewrite_eigs
flint_test
swan_test
snf_test
swan_hom_test
dimtab
dimtable_all
basechange
int_hom
make_geodata
testlf1
tnfd
tnfd_loop
fix_ratios
fix_ratios_loop

# temporary test output files
*.testout
nftmp/*
out*

# symlink to magma/sorting.m
magma/*

FD/.ipynb_checkpoints
__pycache__
*.sobj
# symbolic link
psort.py
