# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~

# link to data directory:
newforms

# test progams:
hecketest
homtest
looptest
modtest
nftest
symbtest
tmanin
tmanin_loop
pmanin
roundtest
tquads
tratquad
dimtable
dimtabeis
moreap
moreap1
moreap_loop
modularity
modularity_modp
nflist
nflist_loop
fieldinfo
qidltest
P1Ntest

# temporary test output files
*.testout
nftmp/*
