# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~

# link to data directory:
newforms

# test progams:
hecketest
homtest
looptest
modtest
nftest
symbtest
tmanin
tquads
tratquad
dimtable
dimtabeis
